html,
body {
  background-color: #fff;
  background: url("media/graphics/loading/loader.svg") center no-repeat;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Arial";
  width: 100%;
  height: 100%;
  touch-action: none;
  overflow: hidden;
}
#webgl,
#webglcanvas,
#game {
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
}
#webglcanvas {
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-transform: scale3d(1, 1, 1);
}
#ajaxbar {
  background: url("media/graphics/loading/loader.svg") center no-repeat;
  width: 100%;
  height: 100%;
}
#canvas {
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-transform: scale3d(1, 1, 1);
  z-index: 1;
}
.play {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #fff;
  left: 0;
  top: 0;
  display: none;
}
.play img {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  z-index: 1000;
  left: 0;
  top: 0;
}
#nohtml5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1002;
  visibility: hidden;
}
#nohtml5 img {
  position: absolute;
  width: 100%;
  height: 100%;
}
#nohtml5-bubble {
  position: absolute;
  bottom: 20px;
  left: 50px;
  width: 380px;
  height: 100px;
  z-index: 1002;
  color: #000;
  background: rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#nohtml5-text {
  padding: 10px;
}
.horizontal-seperator {
  height: 10px;
  width: 100%;
}

#progress-bar-container {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  margin: 20px auto;
  overflow: hidden;
}

#progress-bar {
  width: 0;
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s;
}
